#app {
  width: 100%;
  max-width: 720px;
  margin: 50px auto;
}

#form-control {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  & .text-form {
    flex-grow: 1;
    min-height: 30px;
    padding: 5px 10px;
    margin: 0 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
    &.error {
      border-color: red !important;
    }
    &:hover {
      border-color: rgba(8, 66, 226, 0.3);
      box-shadow: 0 1px 10px 0 rgba(8, 66, 226, 0.15);
    }
    &:focus {
      border-color: rgb(8, 66, 226);
      box-shadow: 0 1px 10px 0 rgba(8, 66, 226, 0.15);
    }
  }
  .form-group {
    position: relative;
    & .error-message {
      display: none;
      position: absolute;
      font-size: 12px;
      color: red;
      bottom: -20px;
      left: 0;
      &.visible {
        display: block;
      }
    }
  }
}

.app__title-container {
  .app__title-text {
    text-align: center;
    margin-bottom: 40px;
  }
}

.app__balance {
  .app__balance-text {
    text-align: center;
  }
}